<h1><%= @movie.name %>, released on <small><%= @movie.release %></small></h1>

<h2> <%= @description %></h2>

<h3><%= pluralize @movie.reviews.size, "review" %></h3>

<div>
  <% if @movie.reviews.blank? %>
    Hey the movie <%= @movie.title %> hasn't had any reviews yet, wanna add one?
  <% else %>
    <%= @movie.reviews.each do |review| %>
      <p><%= review.content %></p>
    <% end %>
  <% end %>
</div>
<%= simple_form_for([@movie, @review]) do |f| %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Back to all the movies !", movies_path %>
